<h1>Registration</h1>

<% provide(:button_text, 'Sign up') %>
<% provide(:path, signup_path) %>
<%= render 'form' %>
<!--%= render 'form', customer: @customer %>-->

<%= link_to 'Back', customers_path %>
